div#divSelectBrand{
    height: 96%;
}

select#selectBrandToShowData,
select#selectBrand{
    height: 40px;
    width: 254px;
    padding-left: 5px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

select#selectBrandToShowData{
    margin-top: 10px;
}

div#divInputNewBrand{
    height: 38px;
    width: 254px;
    margin: auto;
}

button#buttonSaveBrand{
    width: 254px;
    margin: 0 auto 16px auto;
}

.alert{
    width: 254px;
    margin: auto;
    text-align: center;
}

div#divButtonSaveBrand{
    margin: auto;
    width: 254px;
}

form{
    display: grid;
}

div#divFormelements{
    margin: auto;
}

button#buttonUpdateBrand{
    width: 254px;
    margin-bottom: 16px;
}

div#divSelectUpdateBrand,
div#divInputUpdateBrand,
div#divSelectDeleteBrand,
div#divButtonDeleteBrand{
    margin-bottom: 16px;
}

button#buttonDeleteBrand{
    width: 254px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid #aeabab;
}

th.id,
td.id,
th.size,
td.size,
th.onHand,
td.onHand,
th.shippingDate,
td.shippingDate{
    text-align: center;
}

th.name,
th.observations{
    padding-left: 10px;
}

table input{
    width: 100%;
}

table select{
    width: 100%;
    min-height: 30px;
    padding-left: 11px;
    box-sizing: border-box;
}

td.size {
    width: 63px;
}

td.onHand {
    width: 80px;
}

td.onHand input{
    text-align: center;
}

td.shippingDate {
    width: 190px;
}

td.shippingDate input{
    padding-left: 15px;
    box-sizing: border-box;
}

td.observations {
    width: 300px;
}

td.observations input{
    padding-left: 15px;
}

td.edition {
    text-align: center;
    width: 40px;
}

td.delete {
    text-align: center;
    width: 40px;
}

div#divSelectToShowData{
    height: 50px;
    margin-bottom: 10px;
}

td.id {
    width: 60px;
}

div#divTable{
    overflow: auto;
    max-height: calc(100vh - 240px);
}
